@import "variables/borders";
@import "variables/colors";
@import "variables/sizes";

.sign-up-form {
  width: 300px;
  border: $border-thick $black;
  border-radius: $border-radius;
  padding: $spacing-md;
  display: flex;

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
}
