@import "variables/colors";
@import "variables/sizes";
@import "variables/typography";
@import "mixins/breakpoints";

.App {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-content {
  @include themed() {
    color: t($text);
    background: t($bg);
  }

  flex-grow: 1;
  flex-shrink: 0;
}

.section {
  margin: $spacing-lg $spacing-sm;
  @include sm {
    margin: $spacing-xl;
  }
}
