@import "variables/colors";
@import "variables/sizes";
@import "variables/typography";
@import "mixins/breakpoints";

.app-header {
  display: flex;
  align-items: center;
  background-color: clr("primary");
  height: 80px;
  align-items: center;
  padding: 0 $spacing-md;

  &__title {
    display: flex;
    flex: 1;
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    color: $black;
    text-transform: uppercase;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
