// Colors
$primary: #6A040F;
$secondary: #5d78ff;
$accent: #FFBA08;
$offwhite: #FCFCFF;

$lighten: 5;
$darken: 25;

$colors: (
  primary: (
    base: $primary,
    light: lighten($primary, $lighten),
    dark: darken($primary, $darken),
  ),
  secondary: (
    base: $secondary,
    light: lighten($secondary, $lighten),
    dark: darken($secondary, $darken),
  ),
  accent: (
    base: $accent,
    light: lighten($accent, $lighten),
    dark: darken($accent, $darken),
  ),
);

@function clr($base, $shade: base) {
  $color: map-get(map-get($colors, $base), $shade);
  @return $color;
}

$bg: "bg";
$text: "text";
$brand: "brand";
$btn-primary-fg: "btn-primary-fg";
$btn-primary-bg: "btn-primary-bg";
$link: "link";
$link-active: "link-active";

$bg--light: #ffffff;
$text--light: #000000;
$btn-primary-bg--light: #1b4332;
$btn-primary-fg--light: #ffffff;
$link--light: #000000;
$link-active--light: #1b4332;
$brand--light: #1b4332;

$bg--dark: #333333;
$text--dark: #25b26f;
$btn-primary-bg--dark: #95d5b2;
$btn-primary-fg--dark: #000000;
$link--dark: #000000;
$link-active--dark: #c70502;
$brand--dark: #1b4332;

$themes: (
  light: (
    bg: $bg--light,
    text: $text--light,
    btn-primary-bg: $btn-primary-bg--light,
    btn-primary-fg: $btn-primary-fg--light,
    brand: $brand--light,
  ),
  dark: (
    bg: $bg--dark,
    text: $text--dark,
    btn-primary-bg: $btn-primary-bg--dark,
    btn-primary-fg: $btn-primary-fg--dark,
    brand: $brand--dark,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
