// Content sizes
// Screen size variables
$screen-xs: 380px; // Tiny phones
$screen-sm: 476px; // Small tablets and large smartphones (landscape view)
$screen-md: 768px; // Small tablets (portrait view)
$screen-lg: 992px; // Tablets and small desktops
$screen-xl: 1200px; // Large tablets and desktops

$site-width: 1200px;
$content-width: 990px;

$spacing-xxs: 3px;
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 50px;
