// Fonts
// Resource: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// Resource: https://chipcullen.com/how-to-structure-your-typography-in-sass/
// Resource: https://www.degordian.com/education/blog/best-practice-for-responsive-typography/
@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

// Font stack
$sans-serif: 'Muli', sans-serif;
$serif: 'Open Sans', Georgia, 'Times New Roman', serif;

// Font weights
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$font-size-xxs: 0.375rem;
$font-size-xs: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-md: .95rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.50rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 4rem;
